<div *ngIf="location">
  <div class="map-controls">
    <div class="form-row form-row__search" #resultList>
      <app-form-control
        #searchInput
        [(ngModel)]="queryLocation"
        (ngModelChange)="searchLocation()"
        (focusout)="searchLocation()"
        label="Location"
        [required]="required"
      >
        <ng-container start>
          <app-icon class="location-icon" name="location"></app-icon>
        </ng-container>
      </app-form-control>
      <ul class="geocoder-list" *ngIf="isShowGeocodingResults && geocodingResults.length">
        <li
          class="geocoder-list__item"
          *ngFor="let result of geocodingResults"
          (click)="selectlocation(result)"
        >
          {{ result.name | truncate : 35 }}
        </li>
      </ul>
    </div>
    <div class="form-row__wrapper">
      <div class="form-row">
        <app-form-control
          [(ngModel)]="location.lat"
          label="Latitude"
          [required]="required"
          [readonly]="true"
        ></app-form-control>
        <p *ngIf="emptyFieldLat" class="location-error">Empty latitude</p>
        <p *ngIf="noSpecialCharactersLat" class="location-error">
          Field latitude contains special characters
        </p>
      </div>

      <div class="form-row">
        <app-form-control
          [(ngModel)]="location.lng"
          label="Longitude"
          [required]="required"
          [readonly]="true"
        ></app-form-control>
        <p *ngIf="emptyFieldLng" class="location-error">Empty longitude</p>
        <p *ngIf="noSpecialCharactersLng" class="location-error">
          Field longitude contains special characters
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Reading the coordinates off the device is the common case for a reporter
     standing at the site, so it gets a labelled button of its own. It used to
     be a 30px icon in the corner of the map, which nobody found. -->
<button
  type="button"
  class="use-my-location"
  [disabled]="locating"
  [attr.aria-busy]="locating"
  (click)="getCurrentLocation()"
>
  <app-icon class="use-my-location__icon" name="current-location"></app-icon>
  <span>
    {{ (locating ? 'location.finding_location' : 'location.use_current_location') | translate }}
  </span>
</button>

<span class="instructions">{{ 'location.or_pick_on_map' | translate }}</span>

<div class="map-wrapper" *ngIf="mapReady">
  <div
    leaflet
    class="map"
    [leafletLayers]="mapLayers"
    [leafletOptions]="leafletOptions"
    [leafletFitBounds]="mapFitToBounds"
    (leafletMapReady)="onMapReady($event)"
    [leafletFitBoundsOptions]="fitBoundsOptions"
  ></div>
</div>

<p *ngIf="locationError" class="location-error">
  {{ 'location.my_location_error' | translate }}
</p>
