.activity-summary {
  padding: 0 16px 12px;
  font-size: 14px;
  line-height: 20px;
}

.empty-box {
  height: 220px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  &--loading {
    height: 100%;
  }
}
